// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.paginate-links {
  text-align: center;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;

    &.active {
      a {
        font-weight: bold;
      }
    }

    &.next:before {
      content: " | ";
      margin-right: 13px;
      color: #ddd;
    }

    &.disabled {
      a {
        color: #ccc;
        cursor: no-drop;
      }
    }

  }

  a {
    cursor: pointer;
  }

}

#products {
  ul {
    margin: 0;
    padding: 0;
  }
}

.list-group-item {
  border: none;
}

.card{
  padding-bottom: 20px;
}

.product-previous-price{
  text-decoration:line-through;
  color: grey;
}

.share-url{
  color: blue;
  font-weight: bold;
}