<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Products</div>
                    <div id="products" v-if="products.length > 0">
                        <div class="product-filters p-1">
                            <button class="btn btn-light" @click="sortTitle()">Sort by title <span v-if="titleOrdDesc == false">asc</span><span v-else>desc</span></button>
                            <button class="btn btn-light" @click="sortPrice()">Sort by price <span v-if="priceOrdDesc == false">asc</span><span v-else>desc</span></button>
                        </div>
                            <paginate class="products-list" name="products" :list="products" :per="20">
                                <li class="list-group-item product" v-for="product in paginated('products')">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-fluid" :src="product.img" alt="product-image" />
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="title">{{ product.title }}</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img class="img-fluid" :src="product.brand" alt="brand" />
                                                    <ul v-if="product.descList !== null">
                                                        <li v-for="item in clean(product.descList)">
                                                            {{item}}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul v-if="product.moreInfo !== null">
                                                        <li v-for="item in clean(product.moreInfo)">
                                                            {{item}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <p v-if="product.price" class="product-price">€{{ product.price }}</p>
                                            <p v-if="product.previousPrice" class="product-previous-price">{{ product.previousPrice }}</p>
                                            <p class="free-delivery"v-if="product.freeDelivery === 1">Free delivery</p>
                                            <button class="btn btn-success" v-if="user !== null" @click="addToWishlist(product.id)">Add to wishlist</button>
                                        </div>
                                    </div>
                                </li>
                            </paginate>
                        <paginate-links for="products" :show-step-links="true" :limit="5"></paginate-links>
                        <ul class="pagination"></ul>
                    </div>
                    <div v-else>
                        {{ productsAvailable }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductList",
        data() {
            return {
                products: [],
                paginate: ['products'],
                titleOrdDesc: false,
                priceOrdDesc: false,
                user: null,
                message: '',
                productsAvailable: ''
            }
        },
        created() {
            this.fetchProducts();
        },
        methods: {
            fetchProducts() {
                api.getProducts().then(result => {
                    this.products = result.data.products;
                    console.log(this.products);
                    this.user = result.data.user;

                    if(this.products < 1){
                        this.productsAvailable = 'There are no products. Please wait a few minutes while we sync them.';
                    }
                    api.getData();
                });
            },
            sortTitle() {
                this.products = this.products.sort((a, b) => this.sortByTitle(a.title.toUpperCase(), b.title.toUpperCase(), this.titleOrdDesc));
                this.titleOrdDesc = !this.titleOrdDesc;
                this.priceOrdDesc = false;
            },
            sortPrice() {
                this.products = this.products.sort((a, b) => this.sortByPrice(a.price.toUpperCase(), b.price.toUpperCase(), this.priceOrdDesc));
                this.priceOrdDesc = !this.priceOrdDesc;
                this.titleOrdDesc = false;
            },
            sortByTitle(a, b, order) {
                if (order) {
                    return b.localeCompare(a);
                }
                else {
                    return a.localeCompare(b);
                }
            },
            sortByPrice(a, b, order) {
                if (order) {
                    return b - a;
                }
                else {
                    return a - b;
                }
            },
            addToWishlist(id) {
               api.addProduct(id).then(result => {
                   this.message = result.data;
                   this.$swal({
                       type: result.data.type,
                       title: result.data.text,
                       showConfirmButton: false,
                       timer: 2000
                   });
                });
            },
            clean(string){
                var clean = string.replace(/\/\"/g,"");
                return JSON.parse(clean);
            }
        },
        mounted() {

        }
    }
</script>