<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Wishlist
                        <span v-if="listOwner === true"><button class="btn btn-dark btn-sm pr-1 float-right" @click="showShareUrl()">{{btnShareText}}</button></span>
                        <div class="share-url" v-if="shareUrl !== null">{{shareUrl}}</div>
                    </div>
                    <div id="products" v-if="products.length > 0">
                        <div class="product-filters p-1">
                            <button class="btn btn-light" @click="sortTitle()">Sort by title <span v-if="titleOrdDesc == false">asc</span><span v-else>desc</span></button>
                            <button class="btn btn-light" @click="sortPrice()">Sort by price <span v-if="priceOrdDesc == false">asc</span><span v-else>desc</span></button>
                        </div>
                        <paginate class="products-list" name="products" :list="products" :per="20">
                            <li class="list-group-item product" v-for="info in paginated('products')">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-fluid" :src="info.product.img" alt="product-image" />
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 class="title">{{ info.product.title }}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img class="img-fluid" :src="info.product.brand" alt="brand" />
                                                <ul v-if="info.product.descList !== null">
                                                    <li v-for="item in clean(info.product.descList)">
                                                        {{item}}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <ul v-if="info.product.moreInfo !== null">
                                                    <li v-for="item in clean(info.product.moreInfo)">
                                                        {{item}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <p v-if="info.product.price" class="product-price">€{{ info.product.price }}</p>
                                        <p v-if="info.product.previousPrice" class="product-previous-price">{{ info.product.previousPrice }}</p>
                                        <p class="free-delivery"v-if="info.product.freeDelivery === 1">Free delivery</p>
                                        <button class="btn btn-danger" v-if="user !== null && user.id == info.user_id" @click="deleteFromWishlist(info.id)">Delete from wishlist</button>
                                    </div>
                                </div>
                            </li>
                        </paginate>
                        <paginate-links for="products" :show-step-links="true" :limit="5"></paginate-links>
                        <ul class="pagination"></ul>
                    </div>
                    <div v-else class="p-2">
                        {{ productsAvailable }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductList",
        props: ['listKey'],
        data() {
            return {
                products: [],
                paginate: ['products'],
                titleOrdDesc: false,
                priceOrdDesc: false,
                user: null,
                message: '',
                productsAvailable: '',
                listOwner: false,
                shareUrl: null,
                btnShareText: 'Show share url',
            }
        },
        created() {
            this.fetchProducts();
        },
        methods: {
            fetchProducts() {
                api.getWishLists(this.listKey).then(result => {
                    this.products = result.data.wishlist || [];
                    this.user = result.data.user || null;
                    this.listOwner = result.data.listOwner || false;

                    if (this.products < 1) {
                        this.productsAvailable = 'There are no products in this wishlist.';
                    }
                });
            },
            sortTitle() {
                this.products = this.products.sort((a, b) => this.sortByTitle(a.product.title.toUpperCase(), b.product.title.toUpperCase(), this.titleOrdDesc));
                this.titleOrdDesc = !this.titleOrdDesc;
                this.priceOrdDesc = false;
            },
            sortPrice() {
                this.products = this.products.sort((a, b) => this.sortByPrice(a.product.price.toUpperCase(), b.product.price.toUpperCase(), this.priceOrdDesc));
                this.priceOrdDesc = !this.priceOrdDesc;
                this.titleOrdDesc = false;
            },
            sortByTitle(a, b, order) {
                if (order) {
                    return b.localeCompare(a);
                } else {
                    return a.localeCompare(b);
                }
            },
            sortByPrice(a, b, order) {
                if (order) {
                    return b - a;
                } else {
                    return a - b;
                }
            },
            deleteFromWishlist(id) {
                api.deleteProduct(id).then(result => {
                    this.message = result.data.text;
                    this.$swal({
                        type: result.data.type,
                        title: result.data.text,
                        showConfirmButton: false,
                        timer: 2000
                    });
                    this.fetchProducts();
                });
            },
            clean(string){
                var clean = string.replace(/\/\"/g,"");
                return JSON.parse(clean);
            },
            showShareUrl(){
                if(this.shareUrl === null){
                    api.getShareUrl().then(result =>{
                        this.shareUrl = result.data.shareUrl || null;
                        this.btnShareText= 'Hide share url';
                    });
                }
                else{
                    this.shareUrl = null;
                    this.btnShareText= 'Show share url';
                }
            },
        },
        mounted() {

        }
    }
</script>
